.successPassResetContainer {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/bg.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.successPassResetSection {
    width: 35%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.325);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.25rem rgb(255, 255, 255) , -0.1rem -0.1rem 0.25rem rgb(255, 255, 255);
}

.successPassResetHeader {
    width: 70%;
    height: 26%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #392D39;
    color: white;
    gap: 3%;
}

.successPassResetHeader b {
    font-size: 2.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fe7f10;
}

.successPassResetHeader span {
    font-family: cursive;
    text-align: center;
    width: 86%;
}


.successPassResetGoBack {
    width: 40%;
    height: 10%;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.successPassResetGoBack:hover {
    transform: scale(1.05);
}

.successPassResetGoBack span {
    font-size: 1.2rem;
    font-weight: bold;
    font-family:cursive;
    color: white;
}

.successPassResetContinue {
    width: 55%;
    height: 12%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: cursive;
    color: white;
    background-color: #fe7f10;
}

.successPassResetContinue:hover {
    transform: scale(1.01);
    background-color: #fa7908;
}

.goBackIcon {
    color: #392D39;
}