.registerPageContainer {
    background-image: url("../../assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;

}

.registerSection {
    width: 70%;
    height: 90%;
    background-color: rgb(250, 247, 247);
    border-radius: 1rem;
    box-shadow: 1px 1px 1rem rgba(129, 129, 129, 0.685) , -1px -1px 0.2rem rgba(129, 129, 129, 0.685);
    display: flex;
    
}

.registerRightSide {
    width: 50%;
    height: 100%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem; 
    background-image:url("../../assets/registerBg.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.registerLeftSide {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerLeftSideheader {
    height: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1%;
}

.registerTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FD8F2D;
    color: white;
    font-size: 2.5rem;
    border-radius: 0.3rem;
}

.registerSubTitle {
    font-family: cursive;
}

.registerForm {
    background-color: #392D39;
    color: white;
    width: 70%;
    height: 73%;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
    padding-left: 5%;
    box-sizing: border-box;
    border-radius: 0.6rem;
}

.registerForm input {
    width: 90%;
    height: 10%;
    font-size: 1rem;
    border-radius: 0.6rem;
    border: none;
}

.registerForm label {
    font-size: 1.1rem;
    font-family: cursive;  
}

.signInBtn:hover {
    background-color: #FD8F2D;
    color:white
}

.registerFormBtns {
  margin-top: 2%;
  width: 90%;
  height: 22%;
}

.registerBottomSection {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:1rem;
    font-weight: bold;
}

.rememberMe {
    width: 50%;;
    display: flex;
    align-items: center;
}

.rememberMe input {
    width: 20px;
    height: 20px;
    accent-color: #FD8F2D;
}

.forgotPassword:hover {
    text-decoration: underline;
    color: #FD8F2D;
}

.errorSection {
    width: 90%;
    height: 10%;
    background-color: white;
    color: #ff0000;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.registerForm button {
    margin-top: 2%;
    width: 90%;
    border-radius: 0.6rem;
    height: 12%;
    font-size: 1.1rem;
    font-weight: bold;
}

.registerOrSignInWith {
    width: 90%;
    text-align: center;
    margin-top: 3%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerOrSignInWith .or {
    width: 8%;
    height: 100%;
    background-color: #FD8F2D;
    border-radius: 50%;
    border: 0.1rem solid white;
    text-align: center;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerOrSignInWith hr {
    position:absolute;
    width: 100%;
    z-index: 1;
}

.signUpWithGoogle {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.signUpWithGithub {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.signUpWithGoogle:hover {
    background-color: #FD8F2D;
    border-radius: 0.3rem;
}

.signUpWithGithub:hover {
    background-color: #FD8F2D;
    border-radius: 0.3rem;
}

.registerRedirectMsg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2%;
}

.redirectToLogin {
    text-decoration: none;
    color: #FD8F2D;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 0.5%;
    text-decoration: underline;
}

.redirectToLogin:hover {
    transform: scale(1.05);
}